---
layout: default
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">

    {% if post.categories contains 'portfolio' %}
      <h1 class="post-title">
        <a href="{{ post.url }}">{{ post.title }}</a>
      </h1>

      <span class="post-date">
        <i class="fa fa-th-large"></i>
        {{ post.date-start | date: "%m/%y" }}
        {% if post.date-end %} - {{ post.date-end | date: "%m/%y" }}{% endif %}
      </span>

      <img src="/public/assets/{{ post.cid }}/featured.png" />
      <a href="{{ post.url }}">View project &raquo;</a>
    {% elsif post.link %}
      <h1 class="post-title">
        <a href="{{ post.link }}">{{ post.title }}</a>
      </h1>

      <span class="post-date">
        <i class="fa fa-external-link"></i>
        {{ post.date | date_to_string }}
      </span>

      {% if post.featured-image %}
      <img src="/public/assets/featured-image/{{ post.featured-image }}" />
      {% endif %}

      {{ post.excerpt }}
    {% else %}
      <h1 class="post-title">
        <a href="{{ post.url }}">{{ post.title }}</a>
      </h1>

      <span class="post-date">
        <i class="fa fa-comments-o"></i>
        {{ post.date | date_to_string }}
      </span>

      {% if post.featured-image %}
      <img src="/public/assets/featured-image/{{ post.featured-image }}" />
      {% endif %}

      {{ post.excerpt }}
      <a href="{{ post.url }}">Read full post &raquo;</a>
    {% endif %}
    
  </div>
  <hr/>
  {% endfor %}
</div>

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.next_page %}
    <a href="/page{{paginator.next_page}}" class="older">Older</a>
  {% else %}
    <span class="next">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a href="/" class="newer">Newer</a>
    {% else %}
      <a href="/page{{paginator.previous_page}}" class="newer">Newer</a>
    {% endif %}
  {% else %}
    <span class="previous">Newer</span>
  {% endif %}
</div>
