---
layout: default
---

<div class="home-page">

  <div class="cover">
    <div class="overlay"></div>
    <div class="background"></div>
    <div class="content">
      <div class="header">Brie Bunge</div>
      <div class="avatar"><img src="/public/img/avatar.png"></div>
      <div class="subheader">
        Objective: Design and develop experiences that bring happiness
        to people's lives
      </div>
    </div>
  </div>

  <div class="container">
    <div class="links">
      <a class="link" href="/blog">
        <i class="fa fa-pencil"></i>
        <h1>Blog</h1>
      </a>

      <a class="link" href="/portfolio">
        <i class="portfolio fa fa-th-large"></i>
        <h1>Portfolio</h1>
      </a>

      <a class="link" href="/resume">
        <i class="fa fa-road"></i>
        <h1>Resume</h1>
      </a>
    </div>
  </div>

  <div class="content-container">
    <div class="container">
      <div class="recent blog">
        <h2 class="subheader">&mdash; Recent Posts &mdash;</h2>
        {% assign cnt = '' %}
        {% for post in site.posts %}
          {% if post.title != null %}
            {% if post.categories contains 'portfolio' %}{% else %}
              <a href="{{ post.url }}" class="item" {% if post.featured-image %}style="background-image: url(/public/assets/featured-image/{{ post.featured-image }});"{% endif %}>
                <h3 class="post-title">{{ post.title }}</h3>
              </a>

              {% capture cnt %}{{ cnt }}*{% endcapture %}
              {% if cnt.size >= 5 %}
                {% break %}
              {% endif %}
            {% endif %}
          {% endif %}
        {% endfor %}
      </div>

      <div class="recent portfolio">
        <h2 class="subheader">&mdash; Recent Projects &mdash;</h2>
        {% assign cnt = '' %}
        {% for post in site.posts %}
            {% if post.title != null %}
              {% if post.categories contains 'portfolio' %}
                <a href="{{ post.url }}" class="item" style="background-image: url(/public/assets/{{ post.cid }}/featured.png);">
                  <h3 class="post-title">{{ post.title }}</h3>
                </a>

                {% capture cnt %}{{ cnt }}*{% endcapture %}
                {% if cnt.size >= 5 %}
                  {% break %}
                {% endif %}
              {% endif %}
            {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>

</div>