---
layout: default
title: Portfolio
---

<div class="portfolio-page">
  {% for item in site.data.portfolio %}
    {% for post in site.categories.portfolio %}
      {% if item.cid == post.cid %}
      <div class="item">
        <a href="{{ post.url }}">
          <span class="featured-image" style="background-image: url(/public/assets/{{ post.cid }}/featured.png);"></span>

          <span class="content">
            <h1 class="title">{{ post.title }}</h1>

            <span class="date">
              {{ post.date | date: "%m/%y" }}
              {% if post.date-end %} - {{ post.date-end | date: "%m/%y" }}{% endif %}
            </span>
          </span>
        </a>
      </div>
      {% endif %}
    {% endfor %}
  {% endfor %}
</div>
