body {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}
.masthead h1 {
  font-weight: 400;
}
h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: 800;
}

@media (min-width: 990px) {
  .masthead-inner {
    top: 0;
  }
}


/*** <IPAD HEIGHT FIX> ***/
.masthead-inner {
  padding: 10px 15px;
}
.colophon {
  margin-top: 20px;
}
.lead {
  font-size: 16px;
}
.avatar img {
  height: 150px;
}
.masthead h1 {
  font-size: 40px;
}
.masthead hr {
margin: 20px 0;
}
@media (min-height: 900px) {
  .masthead-inner {
    padding: 20px;
  }
  .colophon {
    margin-top: 40px;
  }
  .lead {
    font-size: 16px;
  }
  .masthead h1 {
    font-size: 46px;
  }
  .masthead hr {
    margin: 40px 0;
  }
}
/*** </IPAD HEIGHT FIX> ***/

hr {
  clear: both;
}

ul {
  padding-left: 20px;
  list-style-type: square;
}

.masthead {
  text-align: center;
}

.pagination {
  border: 1px solid #EEE;
  font-weight: 600;
}

.avatar {
  margin-bottom: 0;
}
.avatar img {
  margin: 0;
  display: inline;
}

.post img {
  max-width: 100%;
}
.posts .post img {
  display: block;
  margin: auto;
  margin-bottom: 10px;
}
@media (min-width: 500px) {
  .posts .post img {
    float: left;
    margin-right: 20px;
  }
}

/*** PORTFOLIO ***/

.portfolio .post-title,
.portfolio .post-date {
  display: inline-block;
}

/*** RESUME ***/

.resume.page img {
  display: block;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px;
}
@media (min-width: 500px) {
  .resume.page img {
    display: inline-block;
    float: right;
    margin-left: 40px;
  }
}

.resume.page h2 {
  clear: both;
  font-size: 20px;
  padding-top: 40px;
}
.resume.page h2 em {
  font-size: 14px;
  font-weight: 200;
}

.resume.page .menu {
  margin-left: -140px;
  display: none;
  position: fixed;
  top: 40px;
  list-style-type: none;
  padding: 0;
  z-index: 1;
  border-radius: 5px;
  overflow: hidden;
}
.resume.page .menu li {
  text-align: center;
  font-size: 12px;
  background-color: #d28445;
  opacity: 0.8;
  width: 100px;
}
.resume.page .menu li:hover {
  opacity: 1;
}
.resume.page .menu a {
  padding: 5px 2px;
  display: block;
  color: #FFF;
}
@media (min-width: 990px) {
  .resume.page .menu {
    display: block;
  }
  .resume.page {
    padding-left: 140px;
  }
}
