html {
  font-family: "Raleway", sans-serif;
  font-weight: 200;
}
.sidebar-about h1 {
  /* font-family: "Bitter", serif; */
  font-weight: 400;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 800;
}

hr {
  clear: both;
}

.avatar {
  margin-bottom: 0;
}
.avatar img {
  margin: 0;
  display: inline;
}

.posts .post img {
  max-width: 100%;
  float: left;
  margin-right: 20px;
}

.portfolio .post-title,
.portfolio .post-date {
  display: inline-block;
}

.resume.page img {
  float: right;
  margin-left: 40px;
}
.resume.page ul {
  list-style-type: square;
}
.resume.page h2 {
  clear: both;
  font-size: 1.3rem;
  padding-top: 1.5rem;
}
.resume.page h2 em {
  font-size: 0.9rem;
  font-weight: 200;
}

.resume.page .menu {
  margin-left: -160px;
  display: none;
  position: fixed;
  top: 0;
  list-style-type: none;
  padding: 0;
  z-index: 1;
}
.resume.page .menu li {
  text-align: center;
  font-size: 0.7rem;
  background-color: #d28445;
  opacity: 0.8;
  width: 100px;
}
.resume.page .menu li:hover {
  opacity: 1;
}
.resume.page .menu a {
  padding: 0.25rem;
  display: block;
  color: #FFF;
}
@media (min-width: 48rem) {
  .resume.page .menu {
    display: block;
  }
  .resume.page {
    padding-left: 160px;
  }
}
