---
layout: default
title: Blog
---

<div class="blog">
  <div class="container">

    {% for post in paginator.posts %}
      {% if post.categories contains 'portfolio' %}
      <a href="{{ post.url }}" class="post">
        <div class="post-featured-image">
          <div class="image" style="background-image: url(/public/assets/{{ post.cid }}/featured.png)"></div>
          <div class="overlay"></div>
          <div class="post-title-container">
            <h1 class="post-title">{{ post.title }}</h1>
          </div>
        </div>

        <div class="content">
          <span class="post-date">
            <i class="fa fa-th-large"></i>
            {{ post.date | date: "%m/%y" }}
            {% if post.date-end %} - {{ post.date-end | date: "%m/%y" }}{% endif %}
          </span>
        </div>
      </a>
      {% elsif post.link %}
      <a href="{{ post.link }}" class="post">
        {% if post.featured-image %}
        <div class="post-featured-image">
          <div class="image" style="background-image: url(/public/assets/featured-image/{{ post.featured-image }})"></div>
          <div class="overlay"></div>
          <div class="post-title-container">
            <h1 class="post-title">{{ post.title }}</h1>
          </div>
        </div>
        {% else %}
        <div class="content"><h1 class="post-title">{{ post.title }}</h1></div>
        {% endif %}

        <div class="content">
          <span class="post-date">
            <i class="fa fa-external-link"></i>
            {{ post.date | date_to_string }}
          </span>

          {{ post.excerpt }}
        </div>
      </a>
      {% else %}
      <a href="{{ post.url }}" class="post">
        {% if post.featured-image %}
        <div class="post-featured-image">
          <div class="image" style="background-image: url(/public/assets/featured-image/{{ post.featured-image }})"></div>
          <div class="overlay"></div>
          <div class="post-title-container">
            <h1 class="post-title">{{ post.title }}</h1>
          </div>
        </div>
        {% else %}
        <div class="content"><h1 class="post-title">{{ post.title }}</h1></div>
        {% endif %}

        <div class="content">
          <span class="post-date">
            <i class="fa fa-pencil"></i>
            {{ post.date | date_to_string }}
          </span>

          {{ post.excerpt | strip_html }}
        </div>
      </a>
      {% endif %}
    {% endfor %}

    <!-- Pagination links -->
    <div class="pagination">
      {% if paginator.previous_page %}
        {% if paginator.page == 2 %}
          <a href="/blog/" class="newer">
            <i class="fa fa-angle-left"></i>&nbsp; Newer
          </a>
        {% else %}
          <a href="/blog/page{{paginator.previous_page}}" class="newer">
            <i class="fa fa-angle-left"></i>&nbsp; Newer
          </a>
        {% endif %}
      {% else %}
        <span class="newer">
            <i class="fa fa-angle-left"></i>&nbsp; Newer
        </span>
      {% endif %}

      {% if paginator.next_page %}
        <a href="/blog/page{{paginator.next_page}}" class="older">
          Older &nbsp;<i class="fa fa-angle-right"></i>
        </a>
      {% else %}
        <span class="older">
          Older &nbsp;<i class="fa fa-angle-right"></i>
        </span>
      {% endif %}
    </div>

  </div>
</div>
