@import "mixins";
@import "variables";

body {
  padding-top: 45px;
  font-size: 14px;
  background-color: #eee;
}

h1 { font-size: 36px; }
h2 { font-size: 32px; }
h3 { font-size: 28px; }
h4 { font-size: 24px; }
h5 { font-size: 22px; }
h6 { font-size: 20px; }

h1,h2,h3,h4,h5,h6,.header,.subheader,.date {
  font-family: @font-family;
}

.navbar i {
  font-size: 19px;
}

@import "home";
@import "blog";
@import "portfolio";
@import "page";
@import "resume";
@import "mobile";
@import "post";

.post-featured-image {
  width: 100%;
  height: 350px;
  position: relative;
  text-align: center;

  .image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .post-title-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
  }

  .post-title {
    font-size: 36px;
    padding: 0 30px;
    color: #eee;
    font-weight: bold;
    text-transform: uppercase;
    display: table-cell;
    vertical-align: middle;
  }
}
