.display-flex {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */

  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */

  display: -ms-flexbox;
  /* TWEENER - IE 10 */

  display: -webkit-flex;
  /* NEW - Chrome */

  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */

}
.flex-flow {
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}
body {
  padding-top: 46px;
  font-size: 14px;
  background-color: #eee;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 22px;
}
h6 {
  font-size: 20px;
}
h1,
h2,
h3,
h4,
h5,
h6,
.header,
.subheader,
.date {
  font-family: "Montserrat", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.navbar i {
  font-size: 19px;
}
.home-page {
  min-height: 100%;
}
.home-page .cover {
  width: 100%;
  position: relative;
  height: 500px;
}
.home-page .cover .background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.1);
}
.home-page .cover .overlay {
  background-image: url("/public/img/cover.jpg");
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-position: center;
  background-repeat: no-repeat;
}
.home-page .cover .content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 80px 0;
  text-align: center;
  color: white;
}
.home-page .cover .content .header {
  font-size: 70px;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 2px 2px 1px black;
}
.home-page .cover .content .subheader {
  font-size: 28px;
  line-height: 40px;
  max-width: 700px;
  margin: auto;
  text-shadow: 1px 1px 1px black;
}
.home-page .cover .avatar {
  margin: -20px 0 20px 0;
}
.home-page .cover .avatar img {
  width: inherit;
}
.home-page .links {
  padding: 60px 0;
  background-color: white;
}
.home-page .links .inner {
  max-width: 1200px;
  margin: auto;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */

  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */

  display: -ms-flexbox;
  /* TWEENER - IE 10 */

  display: -webkit-flex;
  /* NEW - Chrome */

  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */

  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: center;
}
.home-page .links .link {
  flex-basis: 33%;
  text-align: center;
  min-width: 250px;
  margin: 20px auto;
}
.home-page .links .link h1 {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
  color: #6f6f6f;
}
.home-page .links .link:hover {
  text-decoration: none;
}
.home-page .links .link:hover h1 {
  color: #008cba;
}
.home-page .links .link:hover i {
  color: white;
  background: #008cba;
}
.home-page .links .link i {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  font-size: 100px;
  color: #008cba;
  line-height: 180px;
  text-align: center;
  background: white;
  border: 10px solid #008cba;
}
.home-page .links .link i.portfolio {
  line-height: 190px;
}
.home-page .recent.portfolio {
  background-color: #008cba;
}
.home-page .recent.portfolio .subheader {
  color: #ffffff;
}
.home-page .recent.blog {
  background-color: #EDF5F7;
}
.home-page .recent.blog .subheader {
  color: #6f6f6f;
}
.home-page .recent .content {
  margin: 0 auto;
  max-width: 1200px;
  padding: 80px 0;
}
.home-page .recent .subheader {
  margin-bottom: 5px;
  text-align: center;
  letter-spacing: normal;
  display: table;
  margin: auto;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 40px;
  line-height: 1.3em;
}
.home-page .recent .subheader:after {
  content: "";
  width: 62%;
  display: block;
  height: 2px;
  background: #fdd200;
  margin: auto;
  margin-top: 4px;
  margin-bottom: 10px;
}
.home-page .recent .posts {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */

  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */

  display: -ms-flexbox;
  /* TWEENER - IE 10 */

  display: -webkit-flex;
  /* NEW - Chrome */

  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */

  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: center;
  padding-top: 20px;
}
.home-page .recent .item {
  flex-basis: 32%;
  min-width: 250px;
  background-color: #fff;
  margin: 10px 5px;
  text-align: center;
}
.home-page .recent .item .featured-image {
  display: block;
  background-position: center;
  background-size: cover;
  height: 200px;
  width: 100%;
}
.home-page .recent .item .post-title {
  padding: 0;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 18px;
  letter-spacing: 1px;
  color: #6f6f6f;
}
.home-page .recent .item .post-title:after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  background-color: #fdd200;
  margin: auto;
  margin-top: 7px;
  margin-bottom: 20px;
}
.home-page .recent .item:hover {
  text-decoration: none;
  background-color: #fbf6d6;
}
.blog-page {
  background-color: #eee;
}
.blog-page .post-title {
  font-size: 28px;
  font-weight: bold;
  margin: 0;
}
.blog-page .post-date {
  display: block;
  color: #aaa;
  font-size: 18px;
  margin: 8px 0;
}
.blog-page .post-date i {
  margin-right: 5px;
}
.blog-page .post {
  display: block;
  position: relative;
  background-color: #fff;
  transition: background-color 0.5s ease;
  margin: 50px 0 60px 0;
  box-shadow: 0px 0px 2px #888;
  color: #555;
}
.blog-page .post:hover {
  text-decoration: none;
}
.blog-page .post:hover .post-title {
  text-decoration: underline;
}
.blog-page .post-featured-image {
  height: 200px;
}
.blog-page .post-featured-image .post-title {
  font-size: 28px;
}
.blog-page .content {
  padding: 20px 30px;
}
.blog-page .pagination {
  width: 100%;
  text-align: center;
  font-size: 20px;
}
.blog-page .pagination .newer {
  margin-right: 10px;
}
.blog-page .pagination .older {
  margin-left: 10px;
}
.display-flex {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */

  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */

  display: -ms-flexbox;
  /* TWEENER - IE 10 */

  display: -webkit-flex;
  /* NEW - Chrome */

  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */

}
.flex-flow {
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}
.portfolio-page {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */

  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */

  display: -ms-flexbox;
  /* TWEENER - IE 10 */

  display: -webkit-flex;
  /* NEW - Chrome */

  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */

  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 10px;
}
.portfolio-page .item {
  min-width: 300px;
  max-width: 900px;
  flex-basis: 33%;
  flex-grow: 1;
  padding: 30px;
}
.portfolio-page .item a:hover {
  text-decoration: none;
}
.portfolio-page .item a:hover .content {
  background-color: #fbf6d6;
}
.portfolio-page .item a {
  display: block;
  box-shadow: 0px 0px 2px #888;
}
.portfolio-page .item .featured-image {
  display: block;
  width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.portfolio-page .item .content {
  margin: 0;
  width: 100%;
  display: block;
  transition: background-color 0.5s ease;
  padding: 20px;
  background-color: #fff;
  text-align: center;
}
.portfolio-page .item .content .title {
  padding: 0;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 18px;
  letter-spacing: 1px;
  margin-top: 5px;
  margin-bottom: 0;
}
.portfolio-page .item .content .title:after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  background-color: #fdd200;
  margin: auto;
  margin-top: 7px;
}
.portfolio-page .item .content .date {
  color: #999;
  font-size: 14px;
}
.page {
  padding: 40px 0;
  margin: 50px auto;
  max-width: 900px;
}
.page .page-title {
  font-weight: bold;
  margin: 50px 0;
  font-size: 56px;
}
.page.resume {
  padding: 40px;
  background-color: white;
  box-shadow: 0px 0px 2px #888;
}
.page.resume img {
  display: block;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  max-height: 160px;
}
@media (min-width: 500px) {
  .page.resume img {
    display: inline-block;
    float: right;
    margin-left: 40px;
    margin-top: -20px;
  }
}
.page.resume .page-title {
  text-align: center;
  font-weight: bold;
  margin-bottom: 50px;
  font-size: 56px;
}
.page.resume .page-title:after {
  content: "";
  display: block;
  width: 40%;
  height: 2px;
  background-color: #fdd200;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 50px;
}
.page.resume h1 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 24px;
  margin: 10px 0 20px 0;
}
.page.resume h2 {
  padding-top: 40px;
  clear: both;
}
@media all and (min-width: 0px) and (max-width: 568px) {
  .home-page .cover {
    height: 400px;
  }
  .home-page .cover .content {
    padding: 40px 0;
  }
  .home-page .cover .content .header {
    font-size: 40px;
  }
  .home-page .cover .content .subheader {
    font-size: 20px;
    line-height: 25px;
  }
  .home-page .cover .content .avatar {
    margin: 10px 0 20px 0;
  }
  .home-page .cover .content .avatar img {
    width: 120px;
  }
  .home-page .recent .item {
    flex-basis: 100%;
  }
  .post-featured-image .post-title {
    font-size: 30px;
  }
  .post.blog-post,
  .post.portfolio-item {
    padding: 15px;
  }
  .blog-post,
  .portfolio-item {
    font-size: 17px;
  }
  .post.blog-post .post-title,
  .post.portfolio-item .post-title {
    font-size: 30px;
  }
  h1 {
    font-size: 30px;
  }
  .portfolio-page .item {
    padding: 10px;
  }
  .page.resume {
    padding: 10px;
  }
  .blog-page .post-featured-image .post-title {
    font-size: 26px;
  }
  .blog-page .post-date {
    font-size: 14px;
  }
  .blog-page .post {
    margin: 40px 0 10px 0;
  }
  .page {
    margin-top: 12px;
  }
  .post.blog-post,
  .post.portfolio-item {
    margin: 0 auto;
  }
}
.post.blog-post,
.post.portfolio-item {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 50px;
  padding: 40px;
  background-color: white;
  box-shadow: 0px 0px 2px #888;
  max-width: 900px;
  font-weight: 200;
  font-size: 20px;
  line-height: 2;
  color: #444;
}
.post.blog-post .featured-image,
.post.portfolio-item .featured-image {
  display: block;
  margin: auto;
}
.post.blog-post .post-title,
.post.portfolio-item .post-title {
  font-weight: bold;
  font-size: 32px;
  margin: 0;
  margin-bottom: 5px;
}
.post.blog-post .post-date,
.post.portfolio-item .post-date {
  color: #888;
}
.post.blog-post .metadata,
.post.portfolio-item .metadata {
  text-align: center;
}
.post.blog-post .metadata:after,
.post.portfolio-item .metadata:after {
  content: "";
  display: block;
  width: 40%;
  height: 2px;
  background-color: #fdd200;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 50px;
}
.post.blog-post img,
.post.portfolio-item img {
  max-width: 100%;
}
.post-featured-image {
  width: 100%;
  height: 350px;
  position: relative;
  text-align: center;
}
.post-featured-image .image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}
.post-featured-image .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.post-featured-image .post-title-container {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */

  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */

  display: -ms-flexbox;
  /* TWEENER - IE 10 */

  display: -webkit-flex;
  /* NEW - Chrome */

  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */

  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.post-featured-image .post-title {
  font-size: 48px;
  color: #eee;
  font-weight: bold;
  text-transform: uppercase;
}
